body
{
   color:black;
   background:rgba(0, 255, 213, 0.603);
}

.heading
{
  width:80%;
  font-size:22px;
}

#camera
{
    width:350px;
    height:300px;
    border:2px dashed black;
}